* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	color: #000;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: 'Comfortaa', cursive;
	/*font-size: 16pt;*/
}

body {background-color: #eaeaea;}
body::-webkit-scrollbar {
	width: 10px;
}
body::-webkit-scrollbar-track {
	background-color: #dddddd;
}
body::-webkit-scrollbar-thumb {
	background-color: #555555;
}
.container {
	margin-left: 12%;
	margin-right: 12%;
}

.logo {
	margin-top: 4.5%;
	text-align: center;
}

.top-menu, .hero-page, .recipees, .recipe-full {
	margin-top: 4.55%;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.top-menu, .hero-page, .recipees, .recipe-full {
	padding-top: 2.55%;
	padding-bottom: 2.55%;
}

/*__________________________ TOP MENU __________________________*/
.top-menu {
	position: relative;
	background-color: #ffffff;
	text-align: center;
}

.top-menu * {
	background-color: #ffffff;
}
.top-menu > * {
	display: inline;
}

.top-menu__logo {
	margin-right: 5%;
}
.top-menu__logo img {
	vertical-align: middle;
	width: 86px;
}
.top-menu__drop-down-menu a {
	text-transform: uppercase;
	margin-left: 1%;
}
.top-menu__search-button input[type=text] {
	width: 160px;
	border: 1px solid #c2c2c2;
	padding: 8px 30px;

	background-image: url('../images/search-icon.png');
	background-position: 10px 11px;
	background-size: 15px;
	background-repeat: no-repeat;
	margin-left: 5%;
}
.top-menu__search-button input[type=text]:focus {
	/*border: 5px solid #eaeaea;*/
}

/*__________________________ HERO PAGE __________________________*/
.hero-page {
	background-image: url('../images/slider-photo1.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50%;
	/*background-attachment: fixed;*/
	/*background-origin: padding-box;*/
	/*background-color: none;*/
}
.hero-page * {
	background: none;
}
.hero-page__logo, .hero-page__head, .hero-page__body, .hero-page__get-button {
	padding-left: 8%;
}
.hero-page__logo img {
	width: 340px;
}
.hero-page__head {
	font-size: 24pt;
	padding-top: 35px;
	text-transform: capitalize;
	color: #921026;
}
.hero-page__body {
	padding-top: 30px;
	width: 40%;
}
.hero-page__get-button {
	padding-top: 30px;
}
.hero-page__get-button button {
	text-transform: uppercase;
	padding: 5px 10px;
	cursor: pointer;
}
/*__________________________ RECIPES __________________________*/
.recipees {
	padding-left: 5%;
	padding-right: 5%;
	display: flex;
	background-color: #ffffff;
}
.recipees * {
	background-color: #ffffff; 
}
.recipe {
	margin-left: 3%;
	width: 33.33%;
}
.recipe__image img {}

.recipe__head div {
	font-size: 18pt;
	text-transform: capitalize;
	text-align: left;
}
.recipe__info img {
	width: 17px;
	vertical-align: middle;

}
/*__________________________ RECIPE FULL __________________________*/
.recipe-full {
	background: url('../images/recipe.png') no-repeat;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
     background-size: 100%;
}
.recipe-full > * {
	background-color: none;
}
.recipe-full__head {
	margin-left: 600px;
	font-size: 18pt;
	text-transform: capitalize;
	color: #055555;
}
.recipe-full__info {
	margin-left: 600px;
}
.recipe-full__info img {
	width: 17px;
	vertical-align: middle;
}
.recipe-full__info button {
	margin-left: 41%;
	padding: 8px 30px;
	text-transform: uppercase;
	width: 160px;
	border: 1px solid #c2c2c2;
	cursor: pointer;
}
.recipe-full__body {
	margin-top: 15px;
	margin-right: 20px;
	margin-left: 600px;
	padding-right: 20px;
	height: 250px;
	overflow-y: scroll;
}
.recipe-full__body::-webkit-scrollbar {
	width: 5px;
}
.recipe-full__body::-webkit-scrollbar-track {
	background-color: #dddddd;
}
.recipe-full__body::-webkit-scrollbar-thumb {
	background-color: #555555;
}
.recipe-full__body div {
	margin-top: 15px;
}

/*__________________________ 2 BLOCKS __________________________*/
/*__________________________ ERROR __________________________*/
.two-blocks {
	display: flex;
	flex-direction: row; /* column; when mobile*/
	flex-wrap: wrap;
}
.two-blocks > div {
	flex: 1;
	margin-top: 70px;
	padding: 2% 3%;
	background-color: #ffffff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	width: 45%;
	height: 500px;
}
.error-404 {
	background-image: url('../images/404.png');
	background-repeat: no-repeat;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
}
.error-404__text, .author__text {
	font-size: 14pt;
	margin-left: 2%;
}
.error-404__line, .author__line {
	background-color: #dddddd;
	height: 2px;
}
.error-404__full {
	margin-top: 32%;
	text-align: center;
}
.error-404-full__head {
	font-size: 18pt;
}
.error-404-full__body {
	text-transform: uppercase;
	color: #a9a9a9;
}
.error-404-full__icon {
	font-size: 26pt;
	color: #a9a9a9;
	margin: 2% auto 0 auto;
	writing-mode: vertical-lr;
	transform: rotate(-20deg);
}
.error-404__button {
	text-transform: uppercase;
	background-color: #ffffff;
	border: 1px solid #a9a9a9;
	display: block;
	margin: 26% auto 0 auto;
	padding: 5px 35px;
	cursor: pointer;
}
/*__________________________ AUTHOR __________________________*/
.author {
	margin-left: 6%;
}
.author__image {
	margin-top: 5%;
	margin-right: 4%;
	height: 100%;
	float: left;
}
.author__info {
	margin-top: 5%;
}
.author-info__name {
	font-size: 16pt;
	font-weight: bold;
}
.author-info__icons {
	margin-top: 2%;
}
.author-info__icons > a {
	margin-right: 1%;
}
.author-info__line {
	margin-top: 2%;
	background-color: #dddddd;
	height: 2px;
	overflow: hidden;
}
.author-info__head {
	margin-top: 4%;
	text-transform: capitalize;
}
.author-info__body {
	margin-top: 4%;
	font-size: 11pt;
	font-weight: normal;
	font-style: italic;
}
/*__________________________ 3 BLOCKS __________________________*/
/*__________________________ Cho-Chi __________________________*/
.three-blocks {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-top: 70px;
}
.recipe-by, .recipe-complexity, .recipe-popular {
	flex: 1;
	background-color: #ffffff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.recipe-by {
	height: 100%;
}
.recipe-by__head, .recipe-complexity__head, .recipe-popular__head {
	margin: 5% 5% auto 5%;
}
.recipe-by__head > .head, .recipe-complexity__head > .head{
	margin-left: 2%;
}
.recipe-by__head > .line, .recipe-complexity__head > .line {
	background-color: #a9a9a9;
	height: 2px;
	width: 100%;
}
.recipe-by__body {
	margin: 5% 5% auto 5%;
}
.recipe-by__body > img {
	float: left;
	margin-right: 5%;
}
.recipe-by__image img {
	margin-top: 5%;
	margin-bottom: 0;
	width: 100%;
}

/*__________________________ COMPLEXITY __________________________*/
.recipe-complexity {
	margin-left: 5%;
	padding-bottom: 2%;
}
.recipe-complexity__body {
	margin: 3% 5% auto 5%;
}
.complexity {
	display: flex;
	margin-left: 8%;
	text-transform: uppercase;
}
.complexity div {
	flex: 1;
}
.complexity-recipes {
	display: flex;
	flex-direction: column;
	font-size: 11pt;
}
.complexity-recipes > div {
	margin-top: 10%;
}
.complexity-recipes > div > img {
	margin-right: 3%;
	width: 120px;
	float: left;
}
.recipe-complexity__body > button {
	margin: 5% auto auto 70%;
	padding: 5px 10px;
	font-size: 9pt;
	text-transform: uppercase;
}
/*__________________________ POPULAR __________________________*/
.recipe-popular {
	margin-left: 5%;
	background: url('../images/recipe-popular.png') no-repeat;
    background-size: 100%;
}
.recipe-popular__head {
	text-transform: capitalize;
	font-size: 24pt;
	font-weight: bold;
	color: #921026;
}
.recipe-popular__body {
	margin: 8% 5% auto 5%;
}
.recipe-popular__body .body-head {
	text-transform: capitalize;
	font-size: 14pt;
	font-weight: bold;
}
.recipe-popular__body .body-body {
	margin-top: 3%;
}
.recipe-popular__body > button {
	margin: 3% 3% auto auto;
	padding: 5px 10px;
	font-size: 9pt;
	text-transform: uppercase;
	float: left;
}
.recipe-popular__body > .recipe__info {
	margin-top: 3%;
}
/*__________________________ FOOTER __________________________*/
.footer {
	margin-top: 70px;
	padding-top: 70px;
	padding-bottom: 70px;
	width: 100%;
	text-align: center;
	background-color: #2f2f2f;
}
.footer * {
	background-color: #2f2f2f;
}
.footer > * {
	display: inline;
}
.footer__logo {
	margin-right: 5%;
}
.footer__logo img {
	width: 86px;
	vertical-align: middle;
}
.footer__menu a {
	margin-left: 1%;
	text-transform: uppercase;
}
.footer__reserved {
	margin-left: 5%;
	text-transform: uppercase;
}

/*__________________________ MEDIA __________________________*/

@media (max-width: 1100px) {
	.top-menu {
		margin-left: 0;
		margin-right: 0;
	}
}