* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	color: #000;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: 'Comfortaa', sans-serif;
}

body {
	background-color: #eaeaea;
}
body::-webkit-scrollbar {
	width: 10px;
}
body::-webkit-scrollbar-track {
	background-color: #dddddd;
}
body::-webkit-scrollbar-thumb {
	background-color: #555555;
}
.container {
	margin: 0px 10% 0px 10%;
	padding: 0px 2% 0px 2%;	
}

.header {
	padding: 4.55% 0px 4.55% 0px;
}

.wrapper__hero-page , .recipees, 
.recipe-full, .two-blocks, .three-blocks {
	margin-bottom: 4.55%;
}
.wrapper__hero-page , .recipees, .recipe-full {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.hero-page, .recipees {
	padding-top: 2.55%;
	padding-bottom: 2.55%;
}

/*__________________________ LOGO __________________________*/
.logo {
	margin-bottom: 4.55%;
	text-align: center;
}

@media (max-width: 800px) {
	.header {
		padding: 0;
	}
	.logo  {
		height: 0;
		width: 0;
		visibility: hidden;
		margin-bottom: 0;
	}
}

/*__________________________ TOP MENU __________________________*/
.top-menu {
	padding: 2.55%;
	background-color: #ffffff;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	height: 100px;
}

.top-menu__logo {
	flex: 0 0 20%;
	height: 100%;
}
.top-menu__logo img {
	width: 60%;
	height: auto;
}
.top-menu__drop-down-menu {
	flex: 0 1 80%;
}

.menu__body {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.menu__list {
	flex: 0 0 80%;
}
.menu__list ul {
	display: flex;
	justify-content: space-around;
}
.menu__list li {
	list-style-type: none;
}
.menu__list a {
	font-size: 14pt;
	text-transform: uppercase;
}
.menu__search-button {
	flex: 0 0 10%;
	margin-left: 3%;
}
.menu__search-button input[type=text] {
	width: 160px;
	border: 1px solid #c2c2c2;
	padding: 8px 30px;
	background: url('../images/search-icon.png') no-repeat;
	background-position: 10px 11px;
	background-size: 15px;
}
.menu__burger {
	display: none;
}

@media (max-width: 1300px) {
	.menu__list a {
		font-size: 12pt;
	}
}
@media (max-width: 1100px) {
	.container {
		margin: 0px;
	}
}
@media (max-width: 1000px) {
	.top-menu {
		box-shadow: none;
		margin-bottom: 0;
	}
}

@media (max-width: 900px) { /* BURGER MENU */
	body.lock-scroll {
		overflow: hidden;
	}
	.header {
		padding-top: 0;
	}
	.logo {
		display: none;
	}
	.menu__list {
		background-color: #fff;
		position: absolute;
		top: -100%;
		width: 100%;
		height: 100%;
		left: 0;
		transition: all 0.3s ease 0s;
		overflow: auto; /*scroll*/
	}
	.menu__list ul {
		flex-direction: column;
		text-align: center;
	}
	.menu__list li {
		margin-bottom: 2%;
	}
	.menu__list a {
		font-size: 18pt;
	}
	.menu__burger {
		margin-left: 2.55%;
		position: relative;
		z-index: 3;
		display: block;
		width: 46px;
		height: 36px;
	}
	.menu__burger span {
		background-color: #000;
		position: absolute;
		width: 100%;
		height: 7px;
		top: 14px;
		transition: all 0.3s ease 0s;
	}
	.menu__burger:before, .menu__burger:after {
		background-color: #000;
		position: absolute;
		content: '';
		width: 100%;
		height: 7px;
		transition: all 0.3s ease 0s;
	}
	.menu__burger:before {top: 0;}
	.menu__burger:after {bottom: 0;}
	.menu__burger.active-burger span {
		transform: scale(0);
	}
	.menu__burger.active-burger:before {
		transform: rotate(-45deg);
		top: 14px;
	}
	.menu__burger.active-burger:after {
		transform: rotate(45deg);
		bottom: 14px;
	}
	.menu__list.active-burger {
		padding-top: 12%;
		left: 0;
		top: 0;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	}
	.menu__list.active-burger ul {
		flex-direction: column;
		text-align: center;
	}
	.menu__list.active-burger li {
		margin-bottom: 2%;
	}
	.menu__list.active-burger a {
		font-size: 18pt;
	}
}

/*__________________________ HERO PAGE __________________________*/
.hero-page {
	background: url('../images/slider-photo1.png') no-repeat;
	background-size: cover;
	background-position: 50%;
	padding-left: 8%;
}
.hero-page__logo {
	padding-bottom: 30px;
}
.hero-page__logo img {
	width: 340px;
}
.hero-page__head {
	font-size: 24pt;
	padding-bottom: 30px;
	text-transform: capitalize;
	color: #921026;
}
.hero-page__body {
	padding-bottom: 30px;
	width: 40%;
}
.hero-page__button {
	text-transform: uppercase;
	padding: 5px 10px;
	cursor: pointer;
	background: none;
}
.hero-page__end {
	display: none;
}

@media (max-width: 1000px) {
	.container {
		padding: 0px;
	}
	.wrapper__hero-page {
		box-shadow: none;
	}
	.hero-page {
		padding-left: 2%;
	}
}
@media (max-width: 800px) {
	.wrapper__hero-page {
		margin: 0;
	}
	.hero-page {
		display: flex;
		flex-direction: column;
		min-width: 100%;
		height: 300px;
	}
	.hero-page * {
		height: 0;
		width: 0;
		visibility: hidden;
	}
	.hero-page__end {
		display: block;
		background-color: #fff;
		text-align: center;
		padding: 2% 0px;
	}
	.hero-page__end > div {
		font-size: 16pt;
		padding: 0;
	}
	.hero-page__end > button {
		border: none;
		font-size: 12pt;
	}
} 

/*__________________________ RECIPES __________________________*/
.recipees {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	background-color: #ffffff;
}
.recipe {
	text-align: center;
	width: 31%;
}
.recipe__image img {
	width: 100%;
}

.recipe__head, .recipe__info {
	text-align: left;
}
.recipe__head div {
	font-size: 18pt;
	text-transform: capitalize;
}
.recipe__info img {
	width: 17px;
	vertical-align: middle;
}

@media (max-width: 1000px)  {
	.recipees {
		box-shadow: none;
	}
	.recipe__head div {
		font-size: 14pt;
	}
}
@media (max-width: 800px) {
	.recipees {
		padding: 0px;
		flex-direction: column;
		align-items: center;
		margin-bottom: 0;
	}
	.recipe {
		margin-top: 0;
		width: 55%;
	}
	.recipe {
		margin-bottom: 2%;
	}
}
@media (max-width: 600px) {
	.recipe {
		width: 70%;
	}
}
@media (max-width: 400px) {
	.recipe {
		width: 100%;
	}
	.recipe__head, .recipe__info {
		width: 88%;
		margin: 0 auto;
	}
	.recipe__head > div, .recipe__info {
		font-size: 11pt;
	}
}

/*__________________________ RECIPE FULL __________________________*/
.recipe-full {
     display: flex;
     flex-direction: row;
     background-color: #fff;
}
.recipe-full__image {
	flex: 0 1 50%;
}
.recipe-full__image img {
	width: 100%;
	height: 100%;
}
.recipe-full__recipe {
	flex: 0 1 50%;
	padding: 2.5%;
}
.recipe-full__head {
	font-size: 18pt;
	text-transform: capitalize;
	color: #055555;
}
.recipe-full__info {
	display: flex;
}
.recipe-full__info div {
	flex: 0 1 55%;
	display: flex;
	align-items: center;
}
.recipe-full__info button {
	flex: 0 1 45%;
}
.recipe-full__info img {
	width: 17px;
	vertical-align: middle;
}
.recipe-full__info button {
	padding: 8px 30px;
	text-transform: uppercase;
	border: 1px solid #c2c2c2;
	cursor: pointer;
}
.recipe-full__body {
	margin-top: 2.5%;
	height: 300px;
	overflow-y: scroll;
}
.recipe-full__body::-webkit-scrollbar {
	width: 5px;
}
.recipe-full__body::-webkit-scrollbar-track {
	background-color: #dddddd;
}
.recipe-full__body::-webkit-scrollbar-thumb {
	background-color: #555555;
}
.recipe-full__body p, .recipe-full__body h3 {
	margin-bottom: 15px;
}
@media (max-width: 1000px) {
	.recipe-full {
		box-shadow: none;
	}
}
@media (max-width: 800px) {
	.recipe-full {
		margin-top: 0;
		flex-direction: column;
		margin-bottom: 0;
	}
	.recipe-full__info div {
		flex-basis: 60%;
	}
	.recipe-full__info button {
		flex-basis: 40%;
	}
}
@media (max-width: 400px) {
	.recipe-full__info div {
		flex-basis: 50%;
	}
	.recipe-full__info button {
		flex-basis: 50%;
	}
	.recipe-full__head {
		font-size: 14pt;
	}
	.recipe-full__info {
		font-size: 11pt;
	}
	.recipe-full__info > button {
		padding: 5px;
		font-size: 9pt;
	}
	.recipe-full__body > * {
		font-size: 11pt;
	}
}

/*__________________________ 2 BLOCKS __________________________*/
/*__________________________ ERROR __________________________*/
.two-blocks {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space/*-*/between;
}
.two-blocks > div {
  	flex: 1;
  	margin: 0 10px;
	padding: 2% 3%;
	background-color: #ffffff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.error-404 {
	margin-right: 20px;
	background-image: url('../images/404.png');
	background-repeat: no-repeat;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
}
.error-404__text, .author__text {
	font-size: 14pt;
	margin-left: 2%;
}
.error-404__line, .author__line {
	background-color: #dddddd;
	height: 2px;
}
.error-404__full {
	margin-top: 32%;
	text-align: center;
}
.error-404-full__head {
	font-size: 18pt;
}
.error-404-full__body {
	text-transform: uppercase;
	color: #a9a9a9;
}
.error-404-full__icon {
	font-size: 26pt;
	color: #a9a9a9;
	margin: 2% auto 0 auto;
	writing-mode: vertical-lr;
	transform: rotate(-20deg);
}
.error-404__button {
	text-transform: uppercase;
	background-color: #ffffff;
	border: 1px solid #a9a9a9;
	display: block;
	margin: 23% auto 0 auto;
	padding: 5px 35px;
	cursor: pointer;
}

/*__________________________ AUTHOR __________________________*/
.author {
	margin-left: 20px;
}
.author__image {
	margin-top: 5%;
	margin-right: 4%;
	height: 100%;
	float: left;
}
.author__info {
	margin-top: 5%;
}
.author-info__name {
	font-size: 16pt;
	font-weight: bold;
}
.author-info__icons {
	margin-top: 2%;
}
.author-info__icons > a {
	margin-right: 1%;
}
.author-info__line {
	margin-top: 2%;
	background-color: #dddddd;
	height: 2px;
	overflow: hidden;
}
.author-info__head {
	margin-top: 4%;
	text-transform: capitalize;
}
.author-info__body {
	margin-top: 4%;
	font-size: 11pt;
	font-weight: normal;
	font-style: italic;
	height: 180px;
	overflow-y: scroll;
}
.author-info__body::-webkit-scrollbar {
	width: 5px;
}
.author-info__body::-webkit-scrollbar-track {
	background-color: #dddddd;
}
.author-info__body::-webkit-scrollbar-thumb {
	background-color: #555555;
}

@media (max-width: 800px) {
	.two-blocks {
		flex-direction: column;
		align-content: center;
		margin-bottom: 0;
	}
	.two-blocks > div {
		width: 100vw;
		box-shadow: none;
		margin: 0;
	}
	.author__image {
		margin-top: 5%;
		margin-right: 4%;
		height: 250px;
		float: left;
	}
	.error-404 {
		display: none;
	}
	.error-404__full {
		margin-top: 37%;
	}
}

/*__________________________ 3 BLOCKS __________________________*/
/*__________________________ RECIPE BY __________________________*/
.three-blocks {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.recipe-by, .recipe-complexity, .recipe-popular {
	flex: 1;
	margin: 0 10px;
	background-color: #ffffff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.recipe-by {
	height: 100%;
}
.recipe-by__head {
	padding: 5%;
}
.recipe-by__head > .head, .recipe-complexity__head > .head {
	margin-left: 2%;
}
.recipe-by__head > .line, .recipe-complexity__head > .line,
.target__head > .line, .tags__head > .line {
	background-color: #a9a9a9;
	height: 2px;
	width: 100%;
	margin-bottom: 3%;
}
.recipe-by-body__info > .recipe__info > div {
	display: inline-block;
}
.recipe-by__body > img {
	float: left;
	margin-right: 5%;
}
.recipe-by__image {
	margin-bottom: 0px;
}
.recipe-by__image img {
	margin-top: 5%;
	width: 100%;
	vertical-align:bottom;
}

/*__________________________ COMPLEXITY __________________________*/
.recipe-complexity {
	padding: 1.5%;
}
.complexity {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-around;
	text-transform: uppercase;
}
.complexity div {
	flex: 0 0;
}
.complexity-recipes {
	display: flex;
	flex-direction: column;
	font-size: 11pt;
}
.complexity-recipes > div {
	margin-top: 7%;
}
.complexity-recipes > div > img {
	margin-right: 3%;
	width: 120px;
	float: left;
}
.complexity-recipes .bold {
	font-weight: bold;
}
.complexity__view-more {
	display: flex;
	margin-top: 7%;
}
.complexity__view-more > button {
	flex: 1;
	padding: 5px;
	font-size: 8pt;
	text-transform: uppercase;
	border: 1px solid #c2c2c2;
}

/*__________________________ POPULAR __________________________*/
.recipe-popular {
	padding: 1.5%;
	height: 100%;
}
.recipe-popular__head {
	margin: 0;
	text-transform: capitalize;
	font-size: 24pt;
	font-weight: bold;
	color: #921026;
}
.recipe-popular__body .body-head {
	text-transform: capitalize;
	font-size: 14pt;
	font-weight: bold;
}
.recipe-popular__body .body-body {
	margin-top: 3%;
}
.recipe-popular__body > button {
	margin: 3% 3% auto auto;
	padding: 5px 10px;
	font-size: 9pt;
	text-transform: uppercase;
	float: left;
	background-color: #fff;
	border: 1px solid #a9a9a9;
}
.recipe-popular__body > .recipe__info {
	margin-top: 3%;
}
.recipe-popular__body > .recipe__info > div {
	display: inline-block;
}

@media (max-width: 1300px) {
	.recipe-by-body__info > div,
	.recipe-popular__body > div {
		font-size: 9pt;
	}
}
@media (max-width: 800px) {
	.three-blocks {
		flex-direction: column;
		margin: 0;
	}
	.three-blocks > * {
		width: 100vw;
		box-shadow: none;
		margin: 0;
	}
	.recipe-by__head {
		margin: 0;
	}
	.recipe-by-body__info > div,
	.recipe-popular__body > div {
		font-size: 12pt;
	}
	.recipe-by {
		padding: 1.5%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
	.recipe-by > div {
		flex: 0 0;
		flex-basis: 48%;
		margin-top: 2%;
	}
	.recipe-by__head {
		padding: 0;
	}
	.recipe-by__image img {
		margin: 0;
	}
}
@media (max-width: 650px) {
	.recipe-by-body__info > div,
	.recipe-popular__body > div {
		font-size: 10pt;
	}
}
@media (max-width: 530px) {
	.recipe-by {
		flex-direction: column;
	}
	.recipe-by > div {
		margin: auto 5% 5% 5%;
	}
}
@media (max-width: 300px) {
	.complexity-recipes > div {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: auto 5%;
	}
}

/*__________________________ TWO BLOCKS __________________________*/
/*__________________________ TARGET __________________________*/
.target__head > .head, .tags__head > .head {
	text-transform: capitalize;
}
.target__body_head {
	font-size: 18pt;
	color: #055555;
}
.target__body_body {
	display: flex;
	flex-direction: column;
}
.target__body_body .article {
	margin-top: 4%;
}
.target__body .circle {
	background-color: #fff;
 	position: relative;
	top: -17px;
	left: 5px;
	width: 68px;
	height: 68px;
	border-radius: 100%;
}
.target__body .circle-border {
	margin-right: 5%;
  	position: relative;
	width: 78px;
	height: 78px;
	border-radius: 100%;
	float: left;
}
.target__body .circle-border_first {
    background: linear-gradient(0deg, #b8105b 19%, lightgray 19%);
}
.target__body .circle-border_second {
    background: linear-gradient(0deg, #2c6d6d 65%, lightgray 65%);
}
.target__body .circle-border_third {
    background: linear-gradient(0deg, #87d0c5 50%, lightgray 50%);
}
.target__body .percent {
	font-size: 14pt;
	position: relative;
	top: 28px;
	left: 22px;
	z-index: 10;
}
.target__body .name {
	color: #6a6a6a;
}
.target__body .text {
	color: #bfbfbf;
}

/*__________________________ TAGS __________________________*/
.tags {
	height:100%;
}
.tags__body {
	margin-top: 5%;
	font-size: 11pt;
	font-weight: normal;
	text-transform: uppercase;
	word-spacing: 12px;
}

/*__________________________ FOOTER __________________________*/
.footer {
	padding-top: 70px;
	padding-bottom: 70px;
	width: 100%;
	text-align: center;
	background-color: #2f2f2f;
	display: flex;
	align-items: center;
}
.footer * {
	background-color: #2f2f2f;
	color: #f5f5f5;
}
.footer > * {
	display: inline;
}
.footer__logo {
	flex: 1 0 10%;
}
.footer__logo img {
	width: 86px;
	vertical-align: middle;
	margin: auto 0;
}
.footer__menu {
	flex: 1 0 60%;
}
.footer__menu a {
	margin-left: 1%;
	text-transform: uppercase;
}
.footer__reserved {
	flex: 1 0 30%;
	text-transform: uppercase;
}

@media (max-width: 1100px) {
	.footer {
		flex-direction: column;
		align-content: center;
		padding: 0;
	}
	.footer > div {
		margin-top: 3%;
	}
	.footer > div:last-child {
		margin-bottom: 3%;
	}
}

@media (max-width: 800px) {
	.footer__menu {
		display: flex;
		flex-direction: column;
	}
	.footer__menu > a:not(:last-child) {
		margin-bottom: 1%;
	}
}