* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	color: #000;
	background-color: #eaeaea;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: 'Comfortaa', cursive;
	/*font-size: 16pt;*/
}

body {
	/*height: 1200px;*/
	/*width: 100%;*/
}

.container {}
.logo {
	margin-top: 4.5%;
	text-align: center;
}

.top-menu, .hero-page, .recipees, .recipe-full {
	margin-top: 4.55%;
	margin-left: 12%;
	margin-right: 12%;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.top-menu, .hero-page, .recipees, .recipe-full {
	padding-top: 2.55%;
	padding-bottom: 2.55%;
}

/*__________________________ TOP MENU __________________________*/
.top-menu {
	position: relative;
	background-color: #fff;
	text-align: center;
}

.top-menu * {
	background-color: #fff;
}
.top-menu > * {
	display: inline;
}

.top-menu_logo {
	margin-right: 5%;
}
.top-menu_logo img {
	vertical-align: middle;
	width: 86px;
}

.top-menu_drop-down-menu {}
.top-menu_drop-down-menu a {
	text-transform: uppercase;
	margin-left: 1%;
}

.top-menu_search-button input[type=text] {
	width: 160px;
	border: 1px solid #c2c2c2;
	padding: 8px 30px;

	background-image: url('../images/search-icon.png');
	background-position: 10px 11px;
	background-size: 15px;
	background-repeat: no-repeat;
	margin-left: 5%;
}
.top-menu_search-button input[type=text]:focus {
	/*border: 5px solid #eaeaea;*/
}

/*__________________________ HERO PAGE __________________________*/
.hero-page {
	background-image: url('../images/slider-photo1.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50%;
	/*background-attachment: fixed;*/
	/*background-origin: padding-box;*/
	/*background-color: none;*/
}
.hero-page * {
	background: none;
}
.hero-page_logo, .hero-page_head, .hero-page_body, .hero-page_get-button {
	padding-left: 8%;
}
.hero-page_logo img {
	width: 340px;
}
.hero-page_head {
	font-size: 24pt;
	padding-top: 35px;
	text-transform: capitalize;
	color: #921026;
}
.hero-page_body {
	padding-top: 30px;
	width: 40%;
}
.hero-page_get-button {
	padding-top: 30px;
}
.hero-page_get-button button {
	text-transform: uppercase;
	padding: 5px 10px;
}
/*__________________________ RECIPES __________________________*/
.recipees {
	display: flex;
	background-color: #fff;
	padding-left: 5%;
	padding-right: 5%;
}
.recipees * {
	background-color: #fff; 
}
.recipe {
	/*float: left;*/
	margin-left: 3%;
	width: 33.33%;
}
.recipe_image img {
	/*width: 350px;*/
}
.recipe_head div {
	font-size: 18pt;
	text-transform: capitalize;
	text-align: left;
}
.recipe_info img {
	width: 17px;
	vertical-align: middle;

}
/*__________________________ RECIPE FULL __________________________*/
.recipe-full {
	padding-top: 42px;
	padding-bottom: 42px;
	background-size: 100%;
	background-image: url('../images/recipe.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50%;
}
.recipe-full * {
	/*background-color: none;*/
	/*background-color: #fff;*/
}
.recipe-full_image img {
}
.recipe-full_head {
	display: block;
	padding-left: 600px;
	text-transform: capitalize;
	color: #055555;
	font-size: 18pt;
}
.recipe-full_info {
	padding-left: 600px;
}
.recipe-full_info div {
	display: block;
	float: left;
}
.recipe-full_info button {
	text-transform: uppercase;
	width: 160px;
	border: 1px solid #c2c2c2;
	padding: 8px 30px;
}
.recipe-full_body {
	padding-left: 600px;
	padding-right: 20px;
}

/*__________________________ FOOTER __________________________*/
.footer {
	margin-top: 70px;
	padding-top: 70px;
	padding-bottom: 70px;
	width: 100%;
	position: relative;
	text-align: center;
	background-color: #2f2f2f;
}
.footer * {
	background-color: #2f2f2f;
}
.footer > * {
	display: inline;
}
.footer_logo {
	margin-right: 5%;
}
.footer_logo img {
	width: 86px;
	vertical-align: middle;
}
.footer_menu a {
	text-transform: uppercase;
	margin-left: 1%;
}
.footer_reserved {
	text-transform: uppercase;
	margin-left: 5%;
}

/*__________________________ MEDIA __________________________*/

@media (max-width: 1100px) {
	.top-menu {
		margin-left: 0;
		margin-right: 0;
	}
}